################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/DemoWebApi6
/obj
/Properties/PublishProfiles
/Properties/ServiceDependencies
